/* everyenvelope.css */

/********* EveryDollar Style Guide **********
    blue:           #009fb7
    orange:         #ffa600
    green:          #9bcb52
    gray:           #f6f8f8
    purple:         #b34fa0
    white:          #fff
    red:            #e64b40
    text:           #798387
    font-family:    proxima-nova, sans-serif
********************************************/


/******** PAGE SETUP ********/
html, body {
    height: 100%; 
}

body {
    background-color: #f6f8f8;
    color: #798387;
    font-family: proxima-nova ,sans-serif;
}

.container-fluid {
    margin-top: 1rem; 
}


/******** NAVBAR ********/
.navbar-green {
    background-color: #9bcb52;
}


.navbar-green a {
    color: #fff; 
}


/******** TABLE ********/
table {
    margin-top: 1rem;
}

.thead-blue {
    background-color: #009fb7;
    color: #fff; 
    font-weight: bold;
}

tbody {
    background-color: #fff; 
}

td {
    text-align: center;
    vertical-align: middle!important;
}

th {
    vertical-align: middle!important;
}


/******** BUTTONS ********/
.btn {
    display: block;
    margin: auto;
}

.btn-modal {
    margin: .5rem;
}

.btn-orange {
    background-color: #ffa600;
    color: #fff; 
}

.btn-white {
    background-color: #fff;
    color: #009fb7;
}

.btn-purple {
    background-color: #b34fa0;
    color: #fff; 
    margin: 0 1rem 1rem;
}

.btn-blue {
    background-color: #009fb7;
    border-color: #fff;
    color: #fff;
}

.btn-close {
    background-color: #fff;
    color: #798387;
}

.btn-blue-fake {
    border-color: #009fb7;
}

.btn-off {
    background-color: #fff;
    border-color: #e64b40;
    color: #e64b40;
}

/******** MEDIA QUERIES ********/
@media (max-width: 767.98px) {
    .btn, .form-control, td, th, p {
        padding: .15rem .4rem;
        margin: .1rem .1rem; 
        font-size: .875rem;
        line-height: 1.5;
    }
    
    #budgetItemHead {
        min-width: 7rem; 
    }
    
    #budgetAmountHead {
        min-width: 3.5rem; 
    }
    
    #loadDataDefault, #storeDataDefault {
        display: none;        
    }
    
    #addRowDefault, #calculateDefault {
        visibility: hidden;
    }
    
    .btn-purple, .btn-orange, .btn-close {
        padding: .25rem .5rem;
    }
    
    .container-fluid, table {
        margin: .5rem 0; 
    }
    
    table {
        margin-bottom: 0;
    }
    
    h5 {
        font-size: 1rem; 
    }
}

@media (min-width: 767.98px) {
    
    #addRowSmall, #loadDataSmall, #storeDataSmall, #calculateSmall {
        display: none; 
    }
    
    #budgetItemHead {
        min-width: 10rem; 
    }
    
    #budgetAmountHead {
        min-width: 5rem; 
    }
    
}

