/* everyenvelope.css */

/********* EveryDollar Style Guide **********
    blue:           #009fb7
    orange:         #ffa600
    green:          #9bcb52
    gray:           #f6f8f8
    purple:         #b34fa0
    white:          #fff
    red:            #e64b40
    text:           #798387
    font-family:    proxima-nova, sans-serif
********************************************/


/******** PAGE SETUP ********/
body {
    background-color: #f6f8f8;
    color: #798387;
    font-family: proxima-nova ,sans-serif;
}

.container {
    margin-top: 1rem; 
}


/******** NAVBAR ********/
.navbar-green {
    background-color: #9bcb52;
}


.navbar-green a {
    color: #fff; 
}


/******** TABLE ********/
table {
    margin-top: 1rem;
}

.thead-blue {
    background-color: #009fb7;
    color: #fff; 
}

tbody {
    background-color: #fff; 
}


/******** BUTTONS ********/
.btn-orange {
    background-color: #ffa600;
    color: #fff; 
}

.btn-white {
    background-color: #fff;
    color: #009fb7;
}

.btn-purple {
    background-color: #b34fa0;
    color: #fff; 
}

.btn-blue {
    background-color: #009fb7;
    border-color: #fff;
    color: #fff;
}

.btn-off {
    background-color: #fff;
    border-color: #e64b40;
    color: #e64b40;
}
